<div class="page-header">
  <h2>Sessions</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Term</th>
      <th>Type</th>
      <th>Year</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.term %></td>
        <td><%= session.type %></td>
        <td><%= range_with_dash(session.year_range) %></td>
        <td>
          <%= link_to "Show", session, :class => "btn btn-default btn-xs" %>
          <%= link_to "Edit", edit_session_path(session), :class => "btn btn-default btn-xs" %>
          <%= link_to "Destroy", session_path(session),
                      :method => :delete, :class => "btn btn-danger btn-xs",
                      :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New", new_session_path, :class => 'btn btn-primary' %>
