<div class="page-header">
<h2><%= @adult.full_name %></h2>
<%= link_to 'Edit Information', edit_adult_path(@adult), :class => 'btn btn-default' %>
</div>

<% if @adult.children.any? %>
  <h3>Children</h3>
  
  <% @adult.children.each do |child| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= child.full_name %></h3>
    </div>
    <div class="panel-body">
      <p>
        <%= link_to 'Show', child, :class => 'btn btn-default' %>
        <%= link_to 'Edit', edit_child_path(child), :class => 'btn btn-default' %>
        <%= link_to 'Destroy', child, :method => :delete, :data => { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
      </p>
    </div>
  </div>
  <% end %>
<% end %>

<h4>Add Child</h4>
<%= form_for [@adult,@adult.children.build] do |f| %>
  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date, start_year: (Time.now.to_date.year-18), end_year: Time.now.to_date.year %>
  </div>
  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
