<div class="page-header">
<h2><%= @adult.full_name %></h2>
</div>

<h3>Children</h3>
<% if @adult.children.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @adult.children.each do |child| %>
      <tr>
        <td><%= child.full_name %></td>
        <td><%= child.years_old %></td>
        <td>
          <%= link_to "Show", child_path(child), :class => "btn btn-default btn-xs" %>
          <%= link_to "Edit", edit_child_path(child), :class => "btn btn-default btn-xs" %>
          <%= link_to "Remove", child_path(child),
                      :method => :delete, :class => "btn btn-danger btn-xs",
                      :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No children have been added.</p>
<% end %>

<h3>Enrollments</h3>
<% if @adult.all_enrollments.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Enrollee</th>
      <th>Course</th>
      <th>Term</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @adult.all_enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.enrollable.full_name %></td>
        <td><%= enrollment.section.course.name %></td>
        <td><%= enrollment.section.term.name %></td>
        <td>
          <%= link_to "Show", enrollment_path(enrollment), :class => "btn btn-default btn-xs" %>
          <%= link_to "Edit", edit_enrollment_path(enrollment), :class => "btn btn-default btn-xs" %>
          <%= link_to "Remove", enrollment_path(enrollment),
                      :method => :delete, :class => "btn btn-danger btn-xs",
                      :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No enrollments have been added.</p>
<% end %>

<%= link_to 'Edit', edit_adult_path(@adult), :class => 'btn btn-default' %>
<%= link_to 'Add Child', new_adult_child_path(@adult), :class => 'btn btn-primary' %>
<%= link_to 'Add Enrollment', new_adult_enrollment_path(@adult), :class => 'btn btn-primary' %>
