<div class="page-header">
<h2><%= @adult.full_name %></h2>
</div>

<h3>Children</h3>
<% if @adult.children.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @adult.children.each do |child| %>
      <tr>
        <td><%= child.full_name %></td>
        <td><%= child.years_old %></td>
        <td>
          <%= link_to "Show", adult_child_path(@adult,child), :class => "btn btn-default btn-xs" %>
          <%= link_to "Edit", edit_adult_child_path(@adult,child), :class => "btn btn-default btn-xs" %>
          <%= link_to "Remove", adult_child_path(@adult,child),
                      :method => :delete, :class => "btn btn-danger btn-xs",
                      :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No children have been added.</p>
<% end %>

<%= link_to 'Edit', edit_adult_path(@adult), :class => 'btn btn-default' %>
<%= link_to 'Add Child', new_adult_child_path(@adult), :class => 'btn btn-primary' %>
