<div class="page-header">
<h2><%= @term.name %></h2>
</div>
<p><i><%= @term.start_date %></i> to <i><%= @term.end_date %></i></p>
<p><%= link_to "View Schedule", term_schedule_path(@term, :day => @term.active_days.first ) %></p>

<h3>Sections</h3>
<% if @term.sections.any? %>
<%= render partial: "sections/table", locals: { :sections => @term.sections,
           :show_actions => @scheduling } %>
<% else %>
  <p>There are no sections in this term.</p>
<% end %>

<% if @scheduling %>
  <p><%= link_to "Add Section", new_term_section_path(@term), :class => 'btn btn-primary' %></p>
<% end %>

<p><%= link_to raw("&larr; Back to Terms"), terms_path %></p>