<div class="page-header">
<h2><%= @term.name %></h2>
</div>
<p><strong>Start date: </strong><%= @term.start_date %></p>
<p><strong>End date: </strong><%= @term.end_date %></p>

<h3>Sections</h3>
<% if @term.sections.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Instructor</th>
      <th>Room</th>
      <th>Meeting Day/Time</th>
      <th>Fee</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @term.sections.each do |section| %>
      <tr>
        <td><%= section.course.subject.name %> <%= section.course.title %></td>
        <td><%= section.user ? section.user.full_name : "None" %></td>
        <td><%= section.room.name %></td>
        <td><%= section.meeting_day_time.to_s%></td>
        <td><%= number_to_currency(section.fee) %></td>
        <td>
          <%= link_to "Show", section_path(section), :class => "btn btn-default btn-xs" %>
          <%= link_to "Edit", edit_section_path(section), :class => "btn btn-default btn-xs" %>
          <%= link_to "Destroy", section_path(section),
                      :method => :delete, :class => "btn btn-danger btn-xs",
                      :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>There are no sections in this term.</p>
<% end %>

<%= link_to 'Back', terms_path, :class => 'btn btn-default' %>
<%= link_to 'Edit', edit_term_path(@term), :class => 'btn btn-default' %>
<%= link_to 'Add Section', new_term_section_path(@term), :class => 'btn btn-primary' %>
