<div class="page-header">
  <h2>Edit Personal Information</h2>
</div>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render :partial => 'users/personal_info', :locals => {:f => f} %>
  </div>

  <div class="form-actions">
    <p><%= f.button :submit, "Update" %></p>
  </div>
<% end %>

<p><%= link_to raw("&larr; Back to Account"), account_path %></p>
