<div class="row">
  <div class="col-lg-3">
    <h2><%= @user.full_name %></h2>
    <p><%= link_to "Students", students_path %></p>
    <p><%= link_to "Enrollments", enrollments_path %></p>
    <p><%= link_to "Responsibilities", responsibilities_path %></p>
  </div>
  <div class="col-lg-5">
    <%= image_tag(@user.avatar_url(:standard), :alt => "Mugshot") %>
    <p><strong>Email: </strong> <%= @user.email %></p>
    <p>
      <%= link_to "Edit Account", edit_user_registration_path, :class => "btn btn-default btn-xs" %>
    </p>
  </div>
</div>
