<div class="page-header">
  <h2><%= @user.full_name %></h2>
  <p><i><%= @user.email %></i></p>
  <p><%= link_to "Edit Account Credentials", edit_user_registration_path, :class => "btn btn-default btn-xs" %></p>
</div>
<div class="row">
  <div class="col-sm-3">
    <h3>Important Links</h3>
    <p><%= link_to "Students", students_path %></p>
    <p><%= link_to "Enrollments", enrollments_path %></p>
    <p><%= link_to "Responsibilities", responsibilities_path %></p>
    <p><%= link_to "Teaching", teaching_path %></p>
  </div>
  <div class="col-sm-9">
    <h3>Personal Information</h3>
    <p><%= image_tag(@user.avatar_url(:standard), :alt => "Mugshot") %></p>
    <p><%= @user.bio %></p>
    <p><b>Phone:</b> <%= phone_formatted(@user.phone) if @user.phone %></p>
    <p><b>Emergency contact name: </b><%= @user.emergency_name %></p>
    <p><b>Emergency contact phone: </b><%= phone_formatted(@user.emergency_phone) if @user.emergency_phone %></p>
    <p><%= link_to "Edit Personal Information", edit_user_path(@user), :class => "btn btn-default btn-xs" %></p>
  </div>
</div>
