<p><strong>Course:</strong> <%= link_to section.course.name, section.course %></p>
<p><strong>Term:</strong> <%= link_to section.term.name, section.term %></p>
<p>
  <strong>Instructor: </strong>
  <% if section.instructor %>
    <%= section.instructor.full_name %>
  <% else %>
    None
  <% end %>
</p>
<p><strong>Instructor Fee:</strong> <%= number_to_currency(section.fee) %></p>
<p>
  <strong>Room: </strong>
  <% if section.room %>
    <%= link_to section.room.name, section.room %>
  <% else %>
    None
  <% end %>
</p>
<p><strong>Meeting Day/Time:</strong> <%= section.meeting_day_time.to_s %></p>
