<div class="page-header">
  <h2><%= @section.course.title %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong>Term:</strong></dt>
  <dd><%= @section.term.name %></dd>
  <dt><strong>Instructor:</strong></dt>
  <dd><%= @section.user ? @section.user.full_name : "None" %></dd>
  <dt><strong>Room:</strong></dt>
  <dd><%= @section.room ? link_to(@section.room.name, @section.room) : "None" %></dd>
  <dt><strong>Meeting day/time:</strong></dt>
  <dd><%= @section.meeting_day_time.to_s %></dd>
  <dt><strong>Fee:</strong></dt>
  <dd><%= number_to_currency(@section.fee) %></dd>
</dl>

<%= link_to "Edit", edit_section_path(@section.term, @section), :class => 'btn btn-default' %>
<%= link_to "Destroy", section_path(@section.term, @section), :method => 'delete',
            :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>
