<table class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Section</th>
      <th>Paid</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student.full_name %></td>
        <td><%= link_to enrollment.section.name, enrollment.section %></td>
        <td><%= enrollment.paid ? "Yes" : "No" %></td>
        <td>
          <% if registering %>
            <% if !enrollment.paid %>
              <%= link_to "Mark Payed", enrollment_mark_paid_path(enrollment),
                          :method => :post, :class => 'btn btn-primary btn-xs' %>
            <% end %>
          <% else%>
            <%= link_to "Edit", edit_enrollment_path(enrollment), :class => 'btn btn-default btn-xs' %>
            <%= link_to "Remove", enrollment_path(enrollment), :method => :delete,
                        :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
