<table class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Section</th>
      <th>Paid</th>
      <% if show_actions %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% enrollments.each do |enrollment| %>
      <tr>
        <% if active_links %>
          <td><%= link_to enrollment.student.full_name, enrollment.student %></td>
          <td><%= link_to enrollment.section.short_name, enrollment.section %></td>
        <% else %>
          <td><%= enrollment.student.full_name %></td>
          <td><%= enrollment.section.short_name %></td>
        <% end %>
        
        <td>
          <%= enrollment.paid ? "Yes" : "No" %>
          <% if !enrollment.paid && can_mark_paid %>
            <%= link_to "Mark Payed", enrollment_mark_paid_path(enrollment),
                        :method => :post, :class => 'btn btn-primary btn-xs' %>
          <% end %>
        </td>
        
        <% if show_actions %>
          <td>
          <%= link_to "Edit", edit_enrollment_path(enrollment), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Remove", enrollment_path(enrollment), :method => :delete,
                      :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
