<div class="page-header">
  <h2><%= @name %> Enrollments</h2>
</div>
<% if @enrollments.any? %>
<%= render partial: "enrollments/table", locals: { :enrollments => @enrollments,
  :registering => @registering } %>
<% else %>
<p>There are no enrollments to display.</p>
<% end %>

<% if @registering %>
  <p><%= link_to raw("&larr; Back to Registration"), responsibility_kind_path(:registration) %></p>
<% else %>
  <p><%= link_to "Add Enrollment", new_enrollment_path, :class => 'btn btn-primary' %></p>
  <p><%= link_to raw("&larr; Back to Account"), current_user %></p>
<% end %>