<div class="page-header">
  <h2><%= @building.name %> building</h2>
</div>

<h3>Address</h3>
<p><%= @building.address.street %></p>
<p><%= @building.address.city %>, <%= @building.address.state %> <%= @building.address.zip %></p>

<h3>Rooms</h3>
<% if Room.any? %>
  <%= render partial: "rooms/table", locals: { :rooms => @building.rooms,
             :show_actions => false } %>
<% else %>
  There are no rooms.
<% end %>
