<table class="table table-striped">
  <thead>
    <tr>
      <% if show_person %>
        <th>Name</th>
      <% end %>
      <th>Responsibility</th>
      <th>Start Date</th>
      <th>End Date</th>
      <% if show_actions %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% responsibilities.each do |responsibility| %>
      <tr>
        <% if show_person %>
          <td><%= responsibility.user.full_name %></td>
        <% end %>
        <% if active_links %>
          <td><%= link_to responsibility.kind.humanize, responsibility_kind_path(responsibility.kind) %></td>
        <% else %>
          <td><%= responsibility.kind.humanize %></td>
        <% end %>
        <td><%= responsibility.start_date %></td>
        <td><%= responsibility.end_date %></td>
        <% if show_actions %>
          <td>
          <%= link_to "Edit", edit_responsibility_path(responsibility), :class => 'btn btn-default btn-xs' %>
          <%= link_to "Remove", responsibility_path(responsibility), :method => :delete,
                      :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
