<div class="page-header">
  <h2>Responsibilities</h2>
</div>
<% if @responsibilities.any? %>
  <% {:active => true,:upcoming => false,:past => false }.each do |scope,active_links| %>
    <% responsibilities = @responsibilities.send(scope) %>
    <h3><%= scope.to_s.humanize %> Responsibilities</h3>
    <% if responsibilities.any? %>
      <%= render partial: "responsibilities/table", locals: {
        :responsibilities => responsibilities } %>
    <% else %>
      <p>There are no <%= scope.to_s %> responsibilities.</p>
    <% end %>
  <% end %>
<% else %>
  <p>No responsibilities to display.</p>
<% end %>

<p><%= link_to "Add Responsibility", new_responsibility_path, :class => 'btn btn-primary' %></p>
<p><%= link_to raw("&larr; Back to Account"), account_path %></p>