<div class="page-header">
  <h2><%= @room.name %></h2>
  <i>In the <%= link_to @room.building.name, building_path(@room.building) %> building</i>
</div>
<p></p>

<%= link_to "Back", rooms_path, :class => 'btn btn-default'  %>
<%= link_to "Edit", edit_room_path(@room), :class => 'btn btn-default' %>
<%= link_to "Destroy", room_path(@room), :method => 'delete',
            :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>
