<div class="page-header">
  <h2><%= @course.title %></h1>
</div>

<p><strong>Subject:</strong> <%= @course.subject.name %></p>
<p><strong>Type:</strong> <%= @course.type %></p>
<p><strong>Description:</strong> <%= @course.description %></p>

<%= link_to "Edit", edit_course_path(@course), :class => 'btn btn-default' %>
