<div class="page-header">
  <h2><%= @course.name %></h1>
</div>

<p><strong>Subject:</strong> <%= link_to @course.subject.name, subject_path(@course.subject) %></p>
<p><strong>Type:</strong> <%= @course.type %></p>
<p><strong>Description:</strong> <%= @course.description %></p>

<h3>Sections</h3>
<% if @course.sections.any? %>
  <%= render partial: "sections/table", locals: {
    :sections => @course.sections, :show_actions => false } %>
<% else %>
  This course has no sections.
<% end %>

<p><%= link_to raw("&larr; Back to Courses"), courses_path %></p>