<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ellensburg Homeschool Co-op</title>
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= nav_bar(:brand => "Ellensburg Homeschool Co-op",
              :brand_link => root_path, :responsive => true) do %>
    <%= menu_group :pull => :right do %>
      <%= menu_item "Home", root_path %>
      <%= menu_item "About", about_path %>
      <%= menu_item "Register", register_path %>
      <%= menu_item "Contact", contact_path %>
      <%= menu_item "Sessions", sessions_path %>
      <%= menu_item "Subjects", subjects_path %>
      <%= menu_item "Courses", courses_path %>
      <%= menu_item "Adults", adults_path %>
      <%= menu_item "Children", children_path %>
    <% end %>
  <% end %>

  <div class="container">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  <footer class="footer"><!-- sticky footer -->
    <div class="container">
      <p>&copy; Ellensburg Homeschool Co-op 2015</p>
    </div>
  </footer>

</body>
</html>
