<!DOCTYPE html>
<html>
<head>
  <title>School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar(:brand => "Ellensburg Homeschool Co-op",
            :brand_link => root_path, :responsive => true) do %>
  <%= menu_group :pull => :right do %>
    <%= menu_item "Home", root_path %>
    <%= menu_item "Subjects", subjects_path %>
    <%= menu_item "Courses", courses_path %>
    <%= menu_item "Adults", adults_path %>
    <%= menu_item "Children", children_path %>
  <% end %>
<% end %>

<div class="container">
  <%= yield %>  
</div>

</body>
</html>
